.product-table {
  width: 100%;
  &-header-row,
  &-row {
    display: table-row;
  }

  &-header {
    font-weight: bold;
    text-align: left;
  }

  &-cell {
    border-bottom: 1px solid #e0e0e0;
    cursor: pointer;

    &.product-table-actions-column {
      text-align: center;
    }
  }

  &-price-column {
    &-text {
      color: #388e3c;
      font-weight: 500;
    }
  }

  &-expand-cell {
    text-align: center;
  }

  &-expanded-row {
    background: #f9f9f9;
  }

  &-detail-row {
    height: 0;
  }

  &-expanded-detail-cell {
    padding: 0;
  }

  &-expanded-detail {
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

mat-icon {
  vertical-align: middle;
}

.product-table-row:not(.product-table-expanded-row):hover {
  background: #f5f5f5;
}

.product-table-row:not(.product-table-expanded-row):active {
  background: #e0e0e0;
}
