<div class="product-modal">
  <h2 mat-dialog-title class="product-modal-title">
    {{ data ? "Edit Product" : "Create Product" }}
  </h2>
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="product-modal-content">
      <mat-form-field class="product-modal-form-field" appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput matFormFieldControl formControlName="name" />
        <mat-error *ngIf="productForm.get('name')?.hasError('required')">
          Name is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="product-modal-form-field" appearance="fill">
        <mat-label>Price</mat-label>
        <input
          matInput
          matFormFieldControl
          formControlName="cost"
          type="number"
        />
        <mat-error *ngIf="productForm.get('cost')?.hasError('required')">
          Price is required
        </mat-error>
        <mat-error *ngIf="productForm.get('cost')?.hasError('min')">
          Price cannot be negative
        </mat-error>
      </mat-form-field>

      <mat-form-field class="product-modal-form-field" appearance="fill">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          matFormFieldControl
          formControlName="description"
        ></textarea>
        <mat-error *ngIf="productForm.get('description')?.hasError('required')">
          Description is required
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="product-modal-form-field"
        appearance="fill"
        *ngIf="!data"
      >
        <mat-label>SKU</mat-label>
        <input matInput matFormFieldControl formControlName="sku" />
        <mat-error *ngIf="productForm.get('sku')?.hasError('required')">
          SKU is required
        </mat-error>
      </mat-form-field>

      <profile-fields
        [profileFormGroup]="getProfileFormGroup()"
        (profileChange)="productForm.get('profile')?.setValue($event)"
      ></profile-fields>

      <dynamic-profile-fields
        [dynamicProfileData]="dynamicProfileData"
        (dynamicProfileChange)="dynamicProfileData = $event"
      ></dynamic-profile-fields>
    </mat-dialog-content>

    <mat-dialog-actions>
      <div class="product-modal-actions">
        <button mat-button (click)="onCancel()">Cancel</button>
        <button mat-button type="submit" [disabled]="productForm.invalid">
          {{ data ? "Save" : "Create" }}
        </button>
      </div>
    </mat-dialog-actions>
  </form>
</div>
