<main class="app-main">
  <div class="app-main-container">
    <app-auth (onSubmitForm)="updateProducts()"></app-auth>
    <button mat-raised-button color="primary" (click)="addProduct()">
      Add Product
    </button>
    <div
      *ngIf="(products$ | async) ?? [].length > 0; else emptyState"
      class="app-main-product-table"
    >
      <app-product-table
        [products]="(products$ | async) ?? []"
        (onEditProduct)="editProduct($event)"
        (onDeleteProduct)="deleteProduct($event)"
      ></app-product-table>
    </div>
    <ng-template #emptyState>
      <app-empty-state></app-empty-state>
    </ng-template>
  </div>
</main>
