<main class="app-main">
  <div class="app-main-container">
    <app-auth (onSubmitForm)="updateProducts()"></app-auth>
    <button mat-raised-button color="primary" (click)="addProduct()">
      Add Product
    </button>
    <app-product-table
      *ngIf="(products$ | async) ?? [].length > 0"
      class="app-main-product-table"
      [products]="(products$ | async) ?? []"
      (onEditProduct)="editProduct($event)"
      (onDeleteProduct)="deleteProduct($event)"
    ></app-product-table>
  </div>
</main>
